.server_address {
    resize: none;
    line-break: anywhere;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 70%;
    height: 2em;
}

#add_account_server_button,
#import_userdata_input_button {
    font-weight: bold;
    background-color: var(--main_color);
    border-radius: 20px;
    cursor: pointer;
    min-width: 25%;
    width: fit-content;
    font-size: inherit;
    height: 2em;
    color: var(--button_text_color);
    border: black solid 1px;
}

#import_userdata_input{
    width: 70%;
}
