[id^="account_card"] {
    border: solid 1px gray;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow: scroll;
}

[class^="account_card_icon"] {
    width: 30px;
    height: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_card_name{
    margin-top: 0;
    margin-bottom: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user_card_name p{
    margin: 0;
    line-height: 1;
}

.user_card_user_name{
    font-size: 0.7em;
}

.account_display_area {
    margin-top: 20px;
}
