.cp_tab *,
.cp_tab *:before,
.cp_tab *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_tab {
    width: 100vw;
    position: fixed;
    right: 0;
    left: 0;
}

.cp_tab > .cp_tabs > input[type='radio'] {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.cp_tab .cp_tabpanel {
    display: none;
}

.cp_tabpanels {
    overflow-y: scroll;
}

.cp_tab > .cp_tabs > label {
    position: relative;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 0;
}

.cp_tab > .cp_tabs > label:hover,
.cp_tab > .cp_tabs > input:focus + label {
    color: #0066cc;
}

.cp_tab > .cp_tabs > input:checked + label {
    margin-bottom: -1px;
    border-color: #cccccc;
    border-bottom: 1px solid #ffffff;
    /*背景色と同じ*/
    border-radius: 6px 6px 0 0;
}

.cp_tab .cp_tabpanel {
    padding: 0.5em 1em;
    border-top: 1px solid #cccccc;
}

.cp_tabpanel.tab1 {
    display: block;
}

@media (max-width: 480px) {
    .cp_tab {
        width: 100%;
        font-size: 0.8em;
    }

    .cp_tab label {
        padding: 0.5em;
    }
}

.settings_caption {
    font-size: larger;
    font-weight: bolder;
}

.settings_oss_name,
.settings_key_name {
    font-size: large;
}

.cp_tabpanel th,
.cp_tabpanel td {
    border-bottom: 1px dotted #000;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
}

.toggle-option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    background-color: #f1f1f1;
}

.toggle-option.active {
    background-color: var(--main_color);
}

.settings_visibility_button,
.settings_noteend_button,
.settings_icon_button {
    user-select: none;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settings_visibility_button p,
.settings_noteend_button p,
.settings_icon_button p {
    margin: 0;
    font-size: xx-small;
    font-weight: bold;
}

.mizuna_clear_cache {
    background: var(--main_color);
    width: fit-content;
    border-radius: 100px;
    padding: 1em;
    border: gray 1px solid;
    user-select: none;
    color: black;
    font-size: inherit;
    height: 4em;
    font-weight: bold;
}


.settings_hr {
    border: none;
    border-top: dotted;
    opacity: 0.5;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.mizuna_share {
    background: var(--main_color);
    width: fit-content;
    border-radius: 100px;
    padding: 1em;
    border: gray 1px solid;
    user-select: none;
    color: black;
    height: 3em;
}

.mizuna_share:active {
    background: var(--main_color);
    width: fit-content;
    border-radius: 100px;
    padding: 0.3em;
    border: black 1px solid;
}
