@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap");

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

*::-webkit-scrollbar {
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.6);
    border-radius: 3px;
}

#viewport_body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100svh;
    width: 100vw;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.display_none {
    display: none !important;
}
