name: Deploy to FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Enable maintenance mode
        run: |
          sed -i "s/maintenance: false/maintenance: true/" js/option/mizuna_option.js
          cat js/option/mizuna_option.js
        
      - name: Clear FTP Directory
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: "${{ secrets.FTP_TARGET_DIR }}"
          dangerous-clean-slate: true

      - name: Deploy files via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: "./"
          server-dir: "${{ secrets.FTP_TARGET_DIR }}"

      - name: Wait for configured time
        run: sleep ${{ secrets.FTP_BUILD_TIME }}

      - name: Disable maintenance mode
        run: |
          sed -i "s/maintenance: true/maintenance: false/" js/option/mizuna_option.js
          cat js/option/mizuna_option.js

      - name: Checkout the latest mizuna_option.js
        run: git checkout HEAD js/option/mizuna_option.js

      - name: Re-upload latest mizuna_option.js
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: "js/option/"
          server-dir: "${{ secrets.FTP_TARGET_DIR }}js/option/"
